.section
  .header
    %h1= link_to('Hosts', hosts_path)
    %h2= link_to(@host.name, host_path(@host))

  - form_for(@host) do |form|
    %dl.editing
      %dt
        %div= 'Name'
      %dd= form.text_field(:name)

      %dt
        %div= 'Ip Address'
      %dd= form.text_field(:ip, :value => @host.ip)

      %dt
        %div= 'Location'
      %dd= form.select(:location_id, Location.find(:all).map { |location| [location.name, location.id] })

      %dt
        %div= 'Description'
      %dd= find_and_preserve(form.text_area(:description, :rows => 5))

      %dt
        %div= 'Evaluation'
      %dd= find_and_preserve(form.text_area(:evaluation, :rows => 5))

      %dt
        %div= 'Remediation'
      %dd
        %div= find_and_preserve(form.text_area(:remediation, :rows => 5))

    = form.submit('Update')
