<h2><%=h @host.name %></h2>

<dl>
  <dt>Ip Address</dt>
  <dd><%=h @host.ip %></dd>
  
  <dt>Scanned</dt>
  <dd><%=h @host.scan_start %> - <%=h @host.scan_end %></dd>

<% if (os_detection = @host.os_detection) %>
  <dt>OS Detection</dt>
  <dd><pre><%= os_detection %></pre></dd>
<% end %>

<% if (traceroute = @host.traceroute) %>
  <dt>Traceroute</dt>
  <dd><pre><%= traceroute %></pre></dd>
<% end %>
</dl>

<h3>Vulnerabilities</h3>

<%= render :partial => 'vulnerabilities/list', :locals => { :vulnerabilities => @host.vulnerabilities } %>
