= section_for(@host) do
  %dl
    %dt
      %div= 'Ip Address'
    %dd= @host.ip

    %dt
      %div= 'Location'
    %dd= @host.location

    %dt
      %div= 'Severity'
    %dd= @host.severity

    %dt
      %div= 'Last Scanned'
    %dd= @host.scan_end

    %dt
      %div= 'Description'
    %dd= find_and_preserve("<pre>#{@host.description}</pre>")
    
    %dt
      %div= 'Evaluation'
    %dd= find_and_preserve("<pre>#{@host.evaluation}</pre>")
  
    %dt
      %div= 'Remediation'
    %dd= find_and_preserve("<pre>#{@host.remediation}</pre>")

  .footer
    = link_to('Edit', edit_host_path(@host))

= section_for(@host.visible_vulnerabilities) do
  = render(:partial => 'vulnerabilities/hosts_list', :locals => { :vulnerabilities => @host.visible_vulnerabilities })
