<div class="section">
  <div class="header">
    <h1><%=h @host.name %></h1>
  </div>

  <dl>
    <dt><div>Ip Address</div></dt>
    <dd><%=h @host.ip %></dd>
  
    <dt><div>Last Scanned</div></dt>
    <dd><%=h @host.scan_start %> - <%=h @host.scan_end %></dd>

    <dt><div>Severity</div></dt>
    <dd><%=h @host.severity %></dd>

  <% if @host.os_detected? %>
    <dt><div>OS Detection</div></dt>
    <dd><pre><%= @host.os_detection %></pre></dd>
  <% end %>

  <% if @host.tracerouted? %>
    <dt><div>Traceroute</div></dt>
    <dd><pre><%= @host.traceroute %></pre></dd>
  <% end %>
  </dl>
</div>

<div class="section">
  <div class="header">
    <h1>Vulnerabilities</h1>
  </div>
  
  <%= render :partial => 'vulnerabilities/list', :locals => { :vulnerabilities => @host.vulnerabilities } %>
</div>
