= section_for(@host) do
  %dl
    = form_field('Ip Address', @host.ip)
    = form_field('Location', @host.location)
    = form_field('Severity', @host.severity)
    = form_field('Last Scanned', @host.scan_end)
    = form_field('Description', "<pre>#{@host.description}</pre>")
    = form_field('Evaluation', "<pre>#{@host.evaluation}</pre>")
    = form_field('Remediation', "<pre>#{@host.remediation}</pre>")

  .footer
    = link_to('Edit', edit_host_path(@host))

= section_for(@host.visible_vulnerabilities) do
  = render(:partial => 'vulnerabilities/hosts_list', :locals => { :vulnerabilities => @host.visible_vulnerabilities })
