<p>
  <b>Name:</b>
  <%=h @host.name %>
</p>

<p>
  <b>Ip:</b>
  <%=h @host.ip %>
</p>

<p>
  <b>Scan Start:</b>
  <%=h @host.scan_start %>
</p>

<p>
  <b>Scan End:</b>
  <%=h @host.scan_end %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
