.section
  .header
    %h1
      %ul
        %li= link_to('Hosts', hosts_path)
        %li= @host.name

  %dl.left
    %dt
      %div= 'Ip Address'
    %dd= @host.ip

    %dt
      %div= 'Location'
    %dd= @host.location

  %dl.right
    %dt
      %div= 'Severity'
    %dd= @host.severity

    %dt
      %div= 'Last Scanned'
    %dd= @host.scan_end

  %dl
    %dt
      %div= 'Description'
    %dd= find_and_preserve("<pre>#{@host.description}</pre>")
    
    %dt
      %div= 'Evaluation'
    %dd= find_and_preserve("<pre>#{@host.evaluation}</pre>")
  
    %dt
      %div= 'Remediation'
    %dd= find_and_preserve("<pre>#{@host.remediation}</pre>")

  .footer
    = link_to('Edit', edit_host_path(@host))

.section
  .header
    %h1= 'Vulnerabilities'

  = render(:partial => 'vulnerabilities/hosts_list', :locals => { :vulnerabilities => @host.visible_vulnerabilities })
