<h1>Host</h1>

<dl>
  <dt>Name</dt>
  <dd><%=h @host.name %> (<%=h @host.ip %>)</dd>

  <dt>Scanned</dt>
  <dd><%=h @host.scan_start %> - <%=h @host.scan_end %></dd>
</dl>

<%= link_to 'Back', hosts_path %>

<h2>Vulnerabilities</h2>
<%= render :partial => 'vulnerabilities/list', :locals => { :vulnerabilities => @host.vulnerabilities } %>
