<h2><%=h @host.name %></h2>

<dl>
  <dt>Ip Address</dt>
  <dd><%=h @host.ip %></dd>
  
  <dt>Scanned</dt>
  <dd><%=h @host.scan_start %> - <%=h @host.scan_end %></dd>

  <dt>OS Detection</dt>
  <dd><pre><%= @host.os_detection %></pre></dd>
  
  <dt>Traceroute</dt>
  <dd><pre><%= @host.traceroute %></pre></dd>
</dl>

<h3>Vulnerabilities</h3>

<%= render :partial => 'vulnerabilities/list', :locals => { :vulnerabilities => @host.vulnerabilities } %>
