%table
  %thead
    %tr
      %th{:width => '20%'}= 'Name'
      %th{:width => '50%'}= 'Summary'
      %th{:width => '25%'}= 'Classification'

  - if plugins.respond_to?(:page)
    %tfoot
      %tr
        %th{:colspan => 3}= paginating_links(plugins, :window_size => 3)

  %tbody
    - if plugins.size == 0
      %tr
        %td{:colspan => 3}= '&nbsp;'
      
    - for plugin in plugins
      %tr
        %td= plugin.name
        %td= plugin.summary
        %td= plugin.classification
        %td= link_to('Show', plugin)
