= section_for(@plugin) do
  - form_for(@plugin) do |form|
    #severities
      .header
        %h1= 'Severities'
  
      %dl
        - for plugin_severity in @plugin.plugin_severities
          = form_field(plugin_severity.location, select("plugin_severities[#{plugin_severity.id}]", :severity, Severity.choices, :selected => plugin_severity.real_severity))

    #summary
      %dl.editing
        = form_field('Summary', form.text_field(:summary))
        = form_field('Visible', form.check_box(:visible, :checked => @plugin.visible?))
        = form_field('Family', form.select(:family_id, Family.choices))
        = form_field('Risk', form.select(:risk_id, Risk.choices))
        = form_field('Description', form.text_area(:description, :rows => 5))
        = form_field('Evaluation', form.text_area(:evaluation, :rows => 5))
        = form_field('Remediation', form.text_area(:remediation, :rows => 5))

    .footer
      = form.submit('Update')
