.section
  .header
    %h1
      %ul
        %li= link_to('Plugins', plugins_path)
        %li= link_to(@plugin.name, plugin_path(@plugin))

  - form_for(@plugin) do |form|
    #summary
      %dl.editing
        %dt
          %div= 'Summary'
        %dd= form.text_field(:summary)

      %dl.editing.left
        %dt
          %div= 'Visible'
        %dd= form.select(:visible, [['True', true], ['False', false]],  :selected => @plugin.visible?)

        %dt
          %div= 'Classification'
        %dd= form.select(:classification_id, Classification.find(:all).map { |classification| [classification.name, classification.id] })

      %dl.editing.right
        %dt
          %div= 'Family'
        %dd= form.select(:family_id, Family.find(:all).map { |family| [family.name, family.id] })

        %dt
          %div= 'Risk'
        %dd= form.select(:risk_id, Risk.find(:all).map { |risk| [risk.name, risk.id] })

      %dl.editing
        %dt
          %div= 'Description'
        %dd= find_and_preserve(form.text_area(:description, :rows => 5))

        %dt
          %div= 'Evaluation'
        %dd= find_and_preserve(form.text_area(:evaluation, :rows => 5))

        %dt
          %div= 'Remediation'
        %dd= find_and_preserve(form.text_area(:remediation, :rows => 5))

    #severities
      .header
        %h1= 'Severities'
    
      %dl
        - for plugin_severity in @plugin.plugin_severities
          %dt
            %div= plugin_severity.location
          %dd= select_tag("plugin_severities[#{plugin_severity.id}][severity]", options_for_select([['Deferred', nil], 1, 2, 3, 4, 5], plugin_severity.severity))

    .footer
      = form.submit('Update')
