= section_for(@plugin) do
  #severities
    .header
      %h1= 'Severities'
    
    %dl
      - for plugin_severity in @plugin.plugin_severities
        = form_field(plugin_severity.location, plugin_severity.severity)
      
  #summary
    %dl
      = form_field('Summary', @plugin.summary)
      = form_field('Visible', @plugin.visible)
      = form_field('Family', @plugin.family)
      = form_field('Risk', @plugin.risk)
      = form_field('Classification', @plugin.classification)
      = form_field('Description', "<pre>#{@plugin.description}</pre>")
      = form_field('Evaluation', "<pre>#{@plugin.evaluation}</pre>")
      = form_field('Remediation', "<pre>#{@plugin.remediation}</pre>")

  .footer
    = link_to('Edit', edit_plugin_path(@plugin))

= section_for(@vulnerabilities) do
  = render(:partial => 'vulnerabilities/plugins_list', :locals => { :vulnerabilities => @vulnerabilities })
