<div class="section">
  <div class="header">
    <h1><%=h @plugin.name %></h1>
  </div>
    
  <dl>
    <dt><div>Summary</div></dt>
    <dd><%=h @plugin.summary %></dd>

    <dt><div>Family</div></dt>
    <dd><%=h @plugin.family %></dd>

    <dt><div>Risk</div></dt>
    <dd><%=h @plugin.risk %></dd>
    
    <dt><div>Classification</div></dt>
    <dd><%=h @plugin.classification %></dd>
  </dl>
</div>

<div class="section">
  <div class="header">
    <h1>Severities</h1>
  </div>
  
  <dl>
    <% Location.find(:all).each do |location| %>
    <dt><div><%=h location %></div></dt>
    <dd><%=h @plugin.severity(location) %></dd>
    <% end %>
  </dl>
</div>

<div class="section">
  <div class="header">
    <h1>Hosts</h1>
  </div>
    
  <%= render :partial => 'hosts/list', :locals => { :hosts => @plugin.hosts } %>
</div>
