.section
  .header
    %h1
      %ul
        %li=link_to('Plugins', plugins_path)
        %li=@plugin.name

  #summary
    %dl
      %dt
        %div= 'Summary'
      %dd= @plugin.summary

    %dl.left
      %dt
        %div= 'Visible'
      %dd= @plugin.visible

      %dt
        %div= 'Classification'
      %dd= @plugin.classification

    %dl.right
      %dt
        %div= 'Family'
      %dd= @plugin.family

      %dt
        %div= 'Risk'
      %dd= @plugin.risk

    %dl
      %dt
        %div= 'Description'
      %dd= find_and_preserve("<pre>#{@plugin.description}</pre>")
    
      %dt
        %div= 'Evaluation'
      %dd= find_and_preserve("<pre>#{@plugin.evaluation}</pre>")
  
      %dt
        %div= 'Remediation'
      %dd= find_and_preserve("<pre>#{@plugin.remediation}</pre>")

  #severities
    .header
      %h1= 'Severities'
      
    %dl
      - for location in @locations
        %dt
          %div= location
        %dd= @plugin.severity(location)

  .footer
    = link_to('Edit', edit_plugin_path(@plugin))

.section
  .header
    %h1= 'Vulnerabilities'

  = render(:partial => 'vulnerabilities/plugins_list', :locals => { :vulnerabilities => @plugin.vulnerabilities })
