<div class="section">
  <div class="header">
    <h1><%=h @plugin.name %></h1>
  </div>
    
  <dl>
    <dt>Summary</dt>
    <dd><%=h @plugin.summary %></dd>

    <dt>Family</dt>
    <dd><%=h @plugin.family %></dd>

    <dt>Risk</dt>
    <dd><%=h @plugin.risk %></dd>
  </dl>
</div>

<div class="section">
  <div class="header">
    <h1>Hosts</h1>
  </div>
    
  <%= render :partial => 'hosts/list', :locals => { :hosts => @plugin.hosts } %>
</div>
