<h2>Plugin</h2>

<dl>
  <dt>Name</dt>
  <dd><%=h @plugin.name %></dd>

  <dt>Summary</dt>
  <dd><%=h @plugin.summary %></dd>

  <dt>Family</dt>
  <dd><%=h @plugin.family %></dd>

  <dt>Risk</dt>
  <dd><%=h @plugin.risk %></dd>
</dl>

<h3>Hosts</h3>

<%= render :partial => 'hosts/list', :locals => { :hosts => @plugin.hosts } %>
