<h1>Plugin</h1>

<dl>
  <dt>Name</dt>
  <dd><%=h @plugin.name %></dd>

  <dt>Summary</dt>
  <dd><%=h @plugin.summary %></dd>

  <dt>Family</dt>
  <dd><%=h @plugin.family %></dd>

  <dt>Risk</dt>
  <dd><%=h @plugin.risk %></dd>
</dl>

<%= link_to 'Back', plugins_path %>

<h2>Hosts</h2>

<%= render :partial => 'hosts/list', :locals => { :hosts => @plugin.hosts } %>
