<h1>Listing scans</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for scan in @scans %>
  <tr>
    <td><%=h scan.name %></td>
    <td><%= link_to 'Show', scan %></td>
    <td><%= link_to 'Edit', edit_scan_path(scan) %></td>
    <td><%= link_to 'Destroy', scan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New scan', new_scan_path %>
