.section
  .header
    %h1= link_to('Scans', scans_path)
  
  - form_for(@scan) do |f|
    %dl
      %dt
        %div= 'Name'
      %dd= f.text_field(:name)

      %dt
        %div= 'Start At'
      %dd= f.text_field(:starts_at)

      %dt
        %div= 'Location'
      %dd
        %ul
          - for location in Location.find(:all)
            %li
              = check_box_tag('scan[location_ids][]', location.id, (@scan.locations.include?(location)))
              = location

    = f.submit('Create')
