= section_for(@scan) do
  - form_for(@scan) do |f|
    %dl
      %dt
        %div= 'Name'
      %dd= f.text_field(:name)

      %dt
        %div= 'Start At'
      %dd= f.text_field(:starts_at)

      %dt
        %div= 'Locations'
      %dd
        %ul
          - for location in @locations
            %li
              = check_box_tag('scan[location_ids][]', location.id, (@scan.locations.include?(location)))
              = location

    = f.submit('Create')
