<div class="section">
  <div class="header">
    <h1>Add Scan</h1>
  </div>
  
  <% form_for(@scan) do |f| %>
  <dl>
    <dt><div>Name</div></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><div>Start At</div></dt>
    <dd><%= f.datetime_select :starts_at %></dd>

    <dt><div>Location</div></dt>
    <dd>
      <ul>
        <% Location.find(:all).each do |location| %>
        <li><%= check_box_tag 'scan[location_ids][]', location.id %> <%= location %></li>
        <% end %>
      </ul>
    </dd>
  </dl>
  
  <%= f.submit "Create" %>
  <% end %>
</div>
