<div class="section">
  <div class="header">
    <h1>Add Scan</h1>
  </div>
  
  <% form_for(@scan) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Starts At</b><br />
    <%= f.datetime_select :starts_at %>
  </p>

  <p>
    <b>Location</b><br />
  
    <ul>
      <% Location.find(:all).each do |location| %>
      <li><%= check_box_tag 'scan[location_ids][]', location.id %> <%= location %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
  <% end %>
</div>
