= section_for(@scan) do
  %dl
    = form_field('Starts At', @scan.starts_at)
    = form_field('Last Updated', @scan.updated_at)
    = form_field('State', @scan.state.capitalize)
    = form_field('Locations', @scan.location_names)
    = form_field('Output', "<pre>#{@scan.output}</pre>") if @scan.running? || @scan.finished?

-if @scan.finished?
  = section_for(@hosts, :header => 'Hosts') do
    = render(:partial => 'hosts/list', :locals => { :hosts => @hosts })
