<div class="section">
  <div class="header">
    <h1><%=h @scan.name %></h1>
  </div>

  <dl>
    <dt><div>Starts At</div></dt>
    <dd><%=h @scan.starts_at %></dd>
  
    <dt><div>State</div></dt>
    <dd><%=h @scan.state.capitalize %></dd>
  
    <dt><div>Locations</div></dt>
    <dd><%=h @scan.location_names %></dd>

  <% if @scan.running? || @scan.finished? %>
    <dt><div>Output</div></dt>
    <dd><pre><%=h @scan.output %></pre></dd>
  <% end %>
  </dl>
</div>

<% if @scan.finished? %>
<div class="section">
  <div class="header">
    <h1>Hosts</h1>
  </div>

  <%= render :partial => 'hosts/list', :locals => { :hosts => @scan.hosts } %>
</div>
<% end %>
