<h2><%=h @scan.name %></h2>

<dl>
  <dt>Starts At</dt>
  <dd><%=h @scan.starts_at %></dd>
  
  <dt>State</dt>
  <dd><%=h @scan.state %></dd>
  
  <dt>Location</dt>
  <dd><%=h @scan.location || "Unknown" %></dd>

<% if @scan.running? || @scan.finished? %>
  <dt>Output</dt>
  <dd><pre><%=h @scan.output %></pre></dd>
<% end %>
</dl>

<% if @scan.finished? %>
<h3>Hosts</h3>
<%= render :partial => 'hosts/list', :locals => { :hosts => @scan.hosts } %>
<% end %>