%table
  %thead
    %tr
      %th{ :width => '50%' }= 'Summary'
      %th{ :width => '15%' }= 'Port'
      %th{ :width => '10%' }= 'Severity'
      %th{ :width => '20%' }= 'Status'
      
      
  - if vulnerabilities.respond_to?(:page)
    %tfoot
      %tr
        %th{ :colspan => 4 }= paginating_links(vulnerabilities, :window_size => 3)
  
  %tbody
    - if vulnerabilities.size == 0
      %tr
        %td{:colspan => 4}= '&nbsp;'
      
    - for vulnerability in vulnerabilities
      %tr
        %td= vulnerability.plugin.summary
        %td= vulnerability.port
        %td= vulnerability.severity
        %td= vulnerability.status
        %td= link_to('Show', vulnerability)
