%table
  %thead
    %tr
      %th{ :width => '70%' }= 'Summary'
      %th{ :width => '15%' }= 'Service'
      %th{ :width => '10%' }= 'Severity'
      
  - if vulnerabilities.respond_to?(:page)
    %tfoot
      %tr
        %th{ :colspan => 4 }= paginating_links(vulnerabilities, :window_size => 3)
  
  %tbody
    - for vulnerability in vulnerabilities
      %tr
        %td= vulnerability.plugin.summary
        %td= vulnerability.service
        %td= vulnerability.severity
        %td= link_to('Show', vulnerability)
