<table>
  <tr>
    <th>Summary</th>
    <th>Service</th>
    <th>Severity</th>
  </tr>

<% for vulnerability in vulnerabilities %>
  <tr>
    <td><%=h vulnerability.summary %></td>
    <td><%=h vulnerability.service %></td>
    <td><%=h vulnerability.severity %></td>
    <td><%= link_to 'Show', vulnerability %></td>
    <td><%= link_to 'Edit', edit_vulnerability_path(vulnerability) %></td>
  </tr>
<% end %>
</table>
