%table
  %thead
    %tr
      %th{ :width => '45%' }= 'Hostname'
      %th{ :width => '15%' }= 'Service'
      %th{ :width => '15%' }= 'Severity'
      %th{ :width => '20%' }= 'Status'
      
  - if vulnerabilities.respond_to?(:page)
    %tfoot
      %tr
        %th{ :colspan => 4 }= paginating_links(vulnerabilities, :window_size => 3)
  
  %tbody
    - if vulnerabilities.size == 0
      %tr
        %td{:colspan => 4}= '&nbsp;'

    - for vulnerability in vulnerabilities
      %tr
        %td= vulnerability.host.name
        %td= vulnerability.service
        %td= vulnerability.host.severity
        %td= vulnerability.status
        %td= link_to('Show', vulnerability)
