.section
  .header
    %h1= link_to('Vulnerabilities', vulnerabilities_path)
    %h2= link_to(@vulnerability.name, vulnerability_path(@vulnerability))

  - form_for(@vulnerability) do |form|
    %dl.editing
      %dt
        %div= 'Severity'
      %dd= form.select(:severity_id, Severity.find(:all, :order => :value).map { |severity| [severity.name, severity.id] })

    .footer
      = form.submit('Update')
