= section_for(@vulnerability) do
  %dl
    = form_field('Host', link_to(@vulnerability.host.name, host_path(@vulnerability.host)))
    = form_field('Plugin', link_to(@vulnerability.plugin.name, plugin_path(@vulnerability.plugin)))
    = form_field('Summary', @vulnerability.plugin.summary)
    = form_field('Severity', @vulnerability.severity)
    = form_field('Status', @vulnerability.status)
    = form_field('Port', @vulnerability.port)
    = form_field('Data', "<pre>#{@vulnerability.data}</pre>")
    = form_field('Description', "<pre>#{@vulnerability.description}</pre>")
    = form_field('Evaluation', "<pre>#{@vulnerability.evaluation}</pre>")
    = form_field('Remediation', "<pre>#{@vulnerability.remediation}</pre>")

  .footer
    = link_to('Edit', edit_vulnerability_path(@vulnerability))
