<div id="subheader">
<h2><%= link_to @vulnerability.host.name, @vulnerability.host %> :: <%=h @vulnerability.name %></h2>
</div>

<div id="content">
<dl>
  <dt>Summary</dt>
  <dd><%=h @vulnerability.summary %></dd>

  <dt>Family</dt>
  <dd><%=h @vulnerability.family %></dd>

  <dt>Risk</dt>
  <dd><%=h @vulnerability.risk %></dd>

  <dt>Service</dt>
  <dd><%=h @vulnerability.service %></dd>

  <dt>Plugin</dt>
  <dd><%= link_to 'Plugin', plugin_path(@vulnerability.plugin) %></dd>

  <dt>Data</dt>
  <dd><pre><%=h @vulnerability.data %></pre></dd>
</dl>
</div>
