<div class="section">
  <div class="header">
    <h1><%= link_to @vulnerability.host.name, @vulnerability.host %> :: <%=h @vulnerability.name %></h1>
  </div>
  
  <dl>
    <dt><div>Summary</div></dt>
    <dd><%=h @vulnerability.summary %></dd>

    <dt><div>Severity</div></dt>
    <dd><%=h @vulnerability.severity %></dd>

    <dt><div>Family</div></dt>
    <dd><%=h @vulnerability.family %></dd>

    <dt><div>Risk</div></dt>
    <dd><%=h @vulnerability.risk %></dd>

    <dt><div>Classification</div></dt>
    <dd><%=h @vulnerability.classification %></dd>

    <dt><div>Service</div></dt>
    <dd><%=h @vulnerability.service %></dd>

    <dt><div>Plugin</div></dt>
    <dd><%= link_to 'Plugin', plugin_path(@vulnerability.plugin) %></dd>

    <dt><div>Data</div></dt>
    <dd><pre><%=h @vulnerability.data %></pre></dd>
  </dl>
</div>
