= section_for(@plugin_classification, :header => [:plugin_classifications, 'Edit']) do
  - form_for(@plugin_classification) do |f|
    %dl
      %dt
        %div= 'Risk'
      %dd= @plugin_classification.risk

      %dt
        %div= 'Family'
      %dd= @plugin_classification.family

      %dt
        %div= 'Classification'
      %dd= f.select(:classification_id, Classification.choices)

    .footer
      = f.submit('Update')
