.section
  .header
    %h1
      %ul
        %li= link_to('Severities', severities_path)
        %li= 'Edit'

  - form_for(@severity) do |form|
    #summary
      %dl.editing
        %dt
          %div= 'Location'
        %dd= @severity.location

        %dt
          %div= 'Classification'
        %dd= @severity.classification

        %dt
          %div= 'Severity'
        %dd= form.select(:severity, (1..5).to_a)

    .footer
      = form.submit('Update')
