= section_for(@severity, :header => [:severities, 'Edit']) do
  - form_for(@severity) do |form|
    #summary
      %dl.editing
        = form_field('Location', @severity.location)
        = form_field('Classification', @severity.classification)
        = form_field('Severity', form.select(:severity, (1..5).to_a))

    .footer
      = form.submit('Update')
