= section_for(@location) do
  - form_for(@location) do |f|
    %dl
      = form_field('Name', f.text_field(:name))

    .header
      %h2= 'Subnets'

    %table
      %thead
        %tr
          %th{ :width => '50%' }= 'Name'
          %th{ :width => '45%'}= 'CIDR'

      %tfoot
        %tr
          %th{ :colspan => 2 }= f.add_associated_link 'Add New Subnet', @location.subnets.build

      %tbody#subnets
        = f.render_associated_form(@location.subnets, :new => 3)

    .footer
      = f.submit('Create')
