!!! XML
!!! Strict
%html{html_attrs}
  %head
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8' }
    %title= 'Achilles'
    %link{ :href => '/stylesheets/reset.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }
    = stylesheets
    = javascripts :include => ['jquery', 'jquery-template']
  %body
    #header
      %h1= 'Achilles'

    #nav
      %ul
        = nav_link(:scans)
        = nav_link(:vulnerabilities)
        = nav_link(:hosts)
        = nav_link(:plugins)
        = nav_link(:severities)
        = nav_link(:plugin_classifications)
        = nav_link(:locations)
        = nav_link(:classifications)

    - for key, value in flash
      .flash{ :id=> key }= value

    #article
      = yield
