<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                      "DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Achilles</title>
  <%= stylesheets %>
  <%= javascripts %>
</head>
<body>
  <div id="header">
    <h1>Achilles</h1>
  </div>

  <div id="nav">
    <ul>
      <li<%= ' class="active"' if controller.kind_of?(ScansController) %>><%= link_to 'Scans', scans_path %></li>
      <li<%= ' class="active"' if controller.kind_of?(HostsController) %>><%= link_to 'Hosts', hosts_path %></li>
      <li<%= ' class="active"' if controller.kind_of?(PluginsController) %>><%= link_to 'Plugins', plugins_path %></li>
    </ul>    
  </div>

  <div id="article">
<%= yield  %>
  </div>

  <div id="footer">
    
  </div>
</div>
</body>
</html>
